body{
    background: linear-gradient(cyan,darkblue);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;

}

#central{
    width: 500px;
    background: white;
    border-radius: 10px;
    padding: 50px;
    display: flex;
    flex-direction:column;
    gap: 10px;
    justify-content:center;
    align-items: center;
}